{% extends 'base.html' %}

{% block title %}
    Unaswered Questions
{% endblock %}

{% block content %}

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Questions For You</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            {% for quest in questions %}
            <a href="/answer/{{quest['id']}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ quest['question_text'] }}</h4>
              <p class="list-group-item-text">Asked by: {{ quest['name'] }}</p>
            </a>
            {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->
      </div>

    </div> <!-- /container -->
{% endblock %}